html {
  font-size: 10px;
  background-image: url('http://i.imgur.com/b9r5sEL.jpg');
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.key {
  border: 4px solid black;
  color: white;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  transition: all 0.07s;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px black;
}

kbd {
  display: block;
  font-size: 32px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 0.5px black;
}
